body {
    /* background-color: #f3f3f3; */
    padding: 20px;
    background-image: url(./image/bg.jpg);
    background-size: cover;
}

/* ---------------------- start nav ------------------ */
.nav {
    padding: 30px 100px;
    background-color: white;
    box-shadow: 2px 3px 10px 1px rgb(134, 134, 134);
    font-size: 28px;
}

.nav a {
    text-decoration: none;
    color: black;
    margin-left: 30px;
}

/* ---------------------- end nav ------------------ */

.cart {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    overflow: hidden;
    margin: auto;
    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 1px rgb(136, 136, 136);
}

.cart div {
    gap: 20px;
    flex-direction: row;
}

.cart img {
    width: 40%;
}